* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #D9DBD4;
    overflow: hidden;
}

.line_top {
    width: 100vw;
    height: 100px;
    background-color: #009688;
    position: fixed;
    top: 0;
    z-index: 10;
}

.container {
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 999;
}

#main_nav {
    flex-shrink: 0;
    background-color: white;
    overflow: hidden;
    z-index: 999;
}

#content {
    background-color: white;
    overflow: hidden;
    z-index: 999;
}

/*header*/

#MY_header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
}

.size_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 60px;
}

.MY_container {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.MY_name {
    margin-left: 2px;
    margin-bottom: 0;
}

.MY_input {
    color: #B1B1B1;
    line-height: 60px;
    margin-right: 10px;
}

/*main*/
main {
    background-color: #EAEAEA;
}

.alert {
    border-radius: 0;
    background-color: #8EDAFC;
    margin-bottom: 0;
}

.Main_input {
    background-color: white;
    color: #8EDAFC;
    border: solid white;
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
}

.Main_link {
    color: #B1B1B1;
}

.input-group-text {
    background-color: white;
}

.Main_search {
    width: auto;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
}

#CHAT {
    overflow-y: scroll;
}

.Main_chat {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid #EAEAEA;
    justify-content: space-between;
}

.Main_avatar {
    display: flex;
}

.info {
    display: flex;
    justify-content: space-between;
}

.name {
    margin-left: 3px;
    margin-bottom: 0;
}

.ora, .last_message {
    font-size: 10px;
    color: #B1B1B1;
    margin-left: 3px;
}

/*content main*/
#content main {
    width: 100%;
    height: calc(100% - 120px);
    background-image: url("../img/mine.jpg");
}

.sent, .received {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
}

.sent {
    background-color: #D5F9BA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.received {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*content footer*/
#content footer {
    width: 100%;
    height: 60px;
    background-color: #EAEAEA;
}

.object {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
